.wrapper
{
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr 200px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    grid-template-rows: 220px 100px 110px 220px 220px;
}

.column1:not(:checked) ~ .column1:not(:checked) ~ .wrapper #column-1,
.column2:not(:checked) ~ .column2:not(:checked) ~ .wrapper #column-2
{
    display: none;
}

.wrapper-inside
{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 2/5;
    grid-row: 4/6;
    grid-column-gap: 20px;
}

html
{
    margin: 0 auto;
    max-width: 1280px;
    min-width: 1280px;
}

.news
{
    grid-column: 2/4;
    grid-row: 1/2;

}

.news li a
{
    text-decoration: none;
    color: #000;
}

.news > a
{
    text-decoration: none;
    color: #0400ff;
    margin-right: 5px;
    font-size: 17px;
}

.news > a:first-child
{
    font-weight: bold;
}

.news > a:nth-child(2)
{
    opacity: .5;
}

.news ul ~ a
{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
}

.news li
{
    margin-bottom: 7px;
}

.news ul ~ a + span
{
    font-weight: normal;
}

.news ul ~ a:last-child
{
    color: #808080;
    font-weight: bold;
    margin-left: 10px;
}

.date
{
    color: #808080;
    font-size: 13px;
}

.img-yandex
{
    vertical-align: middle;
}

.search
{
    grid-column: 2/5;
    grid-row: 2/3;
    padding-top: 15px;
}

.search a
{
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px 10px 0;
}

.yandex
{
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: right;
    font-size: 40px;
    padding-right: 20px;
    height: 100px;
    line-height: 100px;
}

.search form,
.search button
{
    background: yellow;
    border: 1px solid yellow;
}

.search input
{
    width: 90%;
    border: 2px solid yellow;
    height: 36px;
    padding-left: 10px;
}

.search input:focus
{
    outline: 0;
}

.search form
{
    grid-column: 2/5;
    grid-row: 2/3;
    width: 100%;
}

.search button
{
    width: 5%;
}

.search button:focus
{
    outline: 0;
}

.mini-advertising
{
    grid-column: 4/5;
    grid-row: 1/2;
    text-align: center;
}

.mini-advertising a
{
    display: block;
}

.advertising
{
    grid-column: 2/5;
    grid-row: 3/4;
    padding-top: 10px;
}

.advertising img
{
    width: 85%;
}

.search span
{
    color: #808080;
}

.city .char
{
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
    display: inline-block;
}

.city
{
    color: #808080;
    position: absolute;
    top: 10px;
    left: 10px;
}

.mail
{
    box-shadow: 0 0 2px rgba(0,0,0,.5);
    padding: 5px;
    position: absolute;
    top: 10px;
    right: -40px;
    width: 200px;
    border-radius: 2%;
}

.mail:first-letter
{
    color: #f00;
}

.mail a
{
    text-decoration: none;
    color: #000;
}

.mail a:first-child
{
    font-weight: bold;
    font-size: 17px;
}

.mail img
{
    width: 45px;
    vertical-align: top;
    margin-left: 10px;
}

.count
{
    font-weight: bold;
}

.mini-advertising div
{
    width: 150px;
    display: inline-block;
    text-align: left;
}

.mini-advertising div a
{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
}

ul
{
    padding: 0;
    margin-bottom: 0;
}

li
{
    margin-bottom: 2px;
}

body
{
    position: relative;
    padding: 30px;
}

body a:hover
{
    color: #cc0808;
}

.widget
{
    margin-bottom: 30px;
}

.widget a
{
    text-decoration: none;
    color: #0054b9;
    font-family: sans-serif;
}

.widget h1 a
{
    font-size: 16px;
}

.widget ul a
{
    font-size: 12px;
}

h1
{
    margin: 0;
    font-size: 16px;
}

.widget ul
{
    list-style: none;
    margin-top: 10px;
}

.widget ul a
{
    color: #000;
}

.services .bold
{
    font-weight: bold;
}

.widget li
{
    margin-bottom: 5px;
}

.time,
.program
{
    margin-right: 5px;
}

.tv-program a.channel
{
    color: #808080;
}

.tv-program button
{
    border: none;
    cursor: pointer;
    width: auto;
    margin-left: 5px;
    color: #fff;
    border-radius: 5px;
    background: linear-gradient(to right,#00a3fa,#716ef8);
    padding: 5px;
}

.tv-program button:hover
{
    transform: scale(1.1);
}

.weather img
{
    width: 30px;
    vertical-align: middle;
    margin: 0 5px;
}

.poster .category
{
    margin-left: 5px;
    color: #808080;
}

.shadow
{
    position: relative;
}

.auto
{
    height: 200px;
    overflow: scroll;
}

.shadow .shadow-top
{
    position: absolute;
    background: linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 0));
    opacity: .8;
    height: 40px;
    top: 10%;
    left: 0;
    right: 0;
}

.shadow h1
{
    margin-bottom: 4px;
}

.shadow .shadow-bottom
{
    position: absolute;
    background: linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 1));
    opacity: .8;
    height: 50px;
    bottom: 15px;
    left: 0;
    right: 0;
}

.auto .time
{
    margin-left: 5px;
    color: #808080;
    font-size: 13px;
}
/*Hiding Vertical Scrollbars in Chrome and Safari*/

.auto::-webkit-scrollbar
{
    width: 0;
}

/*Hiding Vertical Scrollbars in IE 10+*/

.auto
{
    -ms-overflow-style: none;
}

/*Hiding Vertical Scrollbars in Firefox*/

.auto
{
    overflow: -moz-scrollbars-none;
}

.jokes .category
{
    margin-left: 5px;
    font-size: 13px;
}

.jokes p
{
    margin: 0;
}

.jokes input[id='1']:checked ~ .joke1,
.jokes input[id='2']:checked ~ .joke2,
.jokes input[id='3']:checked ~ .joke3,
.jokes input[id='4']:checked ~ .joke4,
.jokes input[id='5']:checked ~ .joke5,
.jokes input[id='1']:checked ~ label[for='2'],
.jokes input[id='2']:checked ~ label[for='3'],
.jokes input[id='3']:checked ~ label[for='4'],
.jokes input[id='4']:checked ~ label[for='5'],
.jokes input[id='5']:checked ~ label[for='1']
{
    display: block;
}

.jokes input[id='1']:checked ~ p:not([class*='1']),
.jokes input[id='2']:checked ~ p:not([class*='2']),
.jokes input[id='3']:checked ~ p:not([class*='3']),
.jokes input[id='4']:checked ~ p:not([class*='4']),
.jokes input[id='5']:checked ~ p:not([class*='5']),
.jokes input[id='1']:checked ~ label:not([for='2']),
.jokes input[id='2']:checked ~ label:not([for='3']),
.jokes input[id='3']:checked ~ label:not([for='4']),
.jokes input[id='4']:checked ~ label:not([for='5']),
.jokes input[id='5']:checked ~ label:not([for='1']),
input[id='services'],
input[id='jokes'],
input[id='tv'],
input[id='auto'],
input[id='weather'],
input[id='traffic'],
input[id='map'],
input[id='poster']
{
    display: none;
}

.jokes .joke-switcher
{
    width: auto;
    margin-top: 20px;
    background: white;
    border: none;
    cursor: pointer;
    color: #0054b9;
    display: inline-block;
    font-weight: bold;
}

.jokes input
{
    display: none;
}

.jokes .joke-switcher:before
{
    content: '\27F3';
    font-weight: bold;
    margin-right: 5px;
    font-size: 15px;
}

.jokes h1
{
    margin-bottom: 10px;
}

.settings
{
    width: 100px;
    position: absolute;
    right: 170px;
    top: 10px;
}

input.settings
{
    display: none;
}

.settings > label
{
    cursor: pointer;
}

.settings-list li
{
    margin-bottom: 5px;
}

.settings-list
{
    list-style: none;

}

input.settings:checked + .settings .popup
{
    display: block;
}

.popup
{
    background: white;
    width: 200px;
    position: absolute;
    top: 40px;
    left: -60px;
    border: 1px solid #ccc;
    padding: 15px 10px;
    display: none;
    z-index: 10;
}

.popup .popup-tail
{
    width: 30px;
    height: 30px;
    position: absolute;
    background: white;
    top: -16px;
    left: 85px;
    transform: rotate(-45deg);
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

input[id='services']:not(:checked) ~ .wrapper .wrapper-inside .services,
input[id='tv']:not(:checked) ~ .wrapper .wrapper-inside .tv-program,
input[id='auto']:not(:checked) ~ .wrapper .wrapper-inside .shadow,
input[id='weather']:not(:checked) ~ .wrapper .wrapper-inside .weather,
input[id='poster']:not(:checked) ~ .wrapper .wrapper-inside .poster,
input[id='jokes']:not(:checked) ~ .wrapper .wrapper-inside .jokes,
input[id='map']:not(:checked) ~ .wrapper .wrapper-inside .map,
input[id='traffic']:not(:checked) ~ .wrapper .wrapper-inside .traffic
{
    display: none;
}

input[id='services']:not(:checked) ~ .settings label[for='services']:before,
input[id='tv']:not(:checked) ~ .settings label[for='tv']:before,
input[id='auto']:not(:checked) ~ .settings label[for='auto']:before,
input[id='weather']:not(:checked) ~ .settings label[for='weather']:before,
input[id='poster']:not(:checked) ~ .settings label[for='poster']:before,
input[id='jokes']:not(:checked) ~ .settings label[for='jokes']:before,
input[id='map']:not(:checked) ~ .settings label[for='map']:before,
input[id='traffic']:not(:checked) ~ .settings label[for='traffic']:before
{
    content: url(images/not_check.png);
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.settings-list label:before
{
    content: url(images/check.png);
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.traffic img
{
    width: 30px;
    vertical-align: middle;
    margin: 0 5px;
}

.traffic p
{
    margin-top: 10px;
}

.map .taxi
{
    margin-right: 10px;
}

.map li a
{
    font-weight: bold;
    font-size: 13px;
}
